[submodule "libs/FrostCore"]
	path = libs/FrostCore
	url = https://github.com/FrostlessNetwork/FrostCore.git
[submodule "libs/BukkitAPI"]
	path = libs/BukkitAPI
	url = https://github.com/FrostlessNetwork/BukkitAPI.git
